name: Trigger auto deployment for cc-project2026

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/cc-project2026-AutoDeployTrigger-b2513e15-2aec-4649-9ae3-38015a29c07f.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CCPROJECT2026_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CCPROJECT2026_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CCPROJECT2026_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.CCPROJECT2026_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CCPROJECT2026_REGISTRY_PASSWORD }}
          containerAppName: cc-project2026
          resourceGroup: serverless-benchmark
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


